body :nth-child(2) { 
    display: block; 
    width: 90%; 
}

body { 
    width: 40%; 
    padding-left: 30%; 
    font-family: arial;
}

h1 { 
    padding-left: 38%;  
}

#footer { 
    position:fixed; 
    top: 90%; 
    width: 40%; 
    height: 10%; 
    color: white; 
    text-align: center;
    font-size: 30px; 
    background-color: rgb(76, 76, 129); 
}

#footer :nth-child(2) { 
    display: block; 
    width: 15%; 
    margin-top: -75px; 
    margin-left: 20px; 
}

#footer p { 
    margin-top: 30px; 
}

#main { 
    padding-bottom: 10%; 
}