@font-face {
    font-family: 'cormorantlight';
    src: url('cormorant-light-webfont.woff2') format('woff2'),
         url('cormorant-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bitstream_vera_serifbold';
    src: url('fonts/vsfont-bold-webfont.woff2') format('woff2'),
         url('fonts/vsfont-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* General setup */

html {
    font-size: 10px;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
    font-family: 'Julius Sans One', sans-serif;
  }
  
  h2 {
    font-size: 2.4rem;
    font-family: 'Indie Flower', cursive;
  }
  
  p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
    font-family: 'Pacifico', cursive;
  }

